@charset "ISO-8859-1";
#div1{
	position: absolute;
	left: 300px;
	top: -30px;
}
#heading{
	position: relative;
	left:120px;
	bottom: -20px;
}
 h1{
     font-weight: 900;
     background-image: url(./2495304383_1ef1077d34_b.jpg);
     background-repeat: no-repeat;
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     
 }
#btn1{
	background-color: rgb(34, 34, 34);
	margin-left: 315px;
	margin-top: 20px;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#btn2{
	margin-left: 15px;
	background-color: rgb(34, 34, 34);
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#btn1:hover{
	 background-color: darkred;
}
#btn2:hover{
	 background-color: darkred;
}
a{
	text-decoration: none;
	color: white;
	font-size: 1.3rem;
}

/* home */

#head{
	font-size: 2.3rem;
	margin-top: 0px;
	margin-left: 420px;
}

#nav {
    position: static;
    background-color: rgb(34, 34, 34);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: rgb(94, 188, 228);
    padding: 10px 30px;
    display: block; 
    border: 1px solid transparent;
}

ul li a:hover {
    background-color: #fff;
    color: rgb(94, 188, 228);
    border: 1px solid #ccc;
}


